@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background:white
}

body main header #desktop{
    background-image: url(imagens/foodicacapa.jpeg);
    width: 100vw;
}
body main header #phone{display: none;}
body main header #desktop {display: block;}

nav {
    background-color:white;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.479);

}

nav a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
}

i#burguer {
    background-color:black;
    color: red;
    display:block;
    text-align:center;
    padding: 0px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: -4px;
    padding: 10px;
}

i#burguer:hover{
    background-color:black;
    color:white;
}

nav  {
    display: none;
}

nav a {
    display:inline-block;
    padding: 10px;
    text-decoration: none;
    text-align:left;
    background-color: black;
    color:white;
    border-top: 2px solid rgba(0, 0, 0, 0.685);
    width: 95vw;
}

.nav a {
    margin:5px;
    width: 15%;
}

.carimgdesk{
    max-width: 100vw;
     width: 998px;
     height: 400px;
     /*outline: 3px solid black;*/
     overflow: hidden;
     margin: auto;
     box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}

.carimgdesk ul{
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 225px;
}
 
.carimgdesk li img{
    width: 100vw;
    position: relative;
    animation: slide 15s infinite ease-out;
}

.imgphonecar {display: none;}
 
@keyframes slide{
    0%{left: 0px;}
    20%{left: 0px;}
    30%{left: -1070px;}
    50%{left: -1070px;}
    60%{left: -2110px;}
    90%{left: -2110px;} 
    100%{left: 0%;}
}

h3 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 1px 3px;
    background-color:black;
    color: red;
    width: 95vw;
}

/*Barra de rolagem*/
::-webkit-scrollbar{
    height: 6px;
    width: 0px;
}

/*Trilha de progresso da barra de rolagem*/
::-webkit-scrollbar-track {
    background-color: gray;
}

/*alça de rolagem arrastável*/
::-webkit-scrollbar-thumb {
    background-color: brown;
}


.lanchonetes {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;    
}
.lanchonetes ul{
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.lanchonetes li {
    position:relative;
    margin: 10px;
}


.pizzarias {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;   
}
.pizzarias ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.pizzarias li {
    position:relative;
    margin: 10px;
}


.hamburguerias {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;  
}
.hamburguerias ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.hamburguerias li {
    position:relative;
    margin: 10px;
}


.pasteis {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;  
}
.pasteis ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.pasteis li {
    position:relative;
    margin: 10px;
}


.esfihas {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;  
}
.esfihas ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.esfihas li {
    position:relative;
    margin: 10px;
}


.sorveterias {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;  
}
.sorveterias ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.sorveterias li {
    position:relative;
    margin: 10px;
}


.acai {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;  
}
.acai ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.acai li{
    position:relative;
    margin: 10px;
}


.espetos {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;
}
.espetos ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.espetos li {
    position:relative;
    margin: 10px;
}


.porcoes {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;
}
.porcoes ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.porcoes li {
    position:relative;
    margin: 10px;
}


.japones {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;
}
.japones ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.japones li {
    position:relative;
    margin: 10px;
}


.arabe {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;
}
.arabe ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.arabe li {
    position:relative;
    margin: 10px;
}


.marmitas {
    max-width: 100vw;
    height: 250px;
    width: 95vw;
    background-color:rgba(0, 0, 0, 0.829);
    margin:auto;
    overflow-y:hidden;
    padding: 0px;
}
.marmitas ul {
    max-width: 100vw;
    display: flex;
    list-style: none;
    height: 240px;
    margin:10px;
}
.marmitas li {
    position:relative;
    margin: 10px;
}